.upperbar1 {
  width: 100%;
  height: 100px;
  z-index: 1;
  position: fixed;
  background-color: #ffffff;
  cursor: pointer;
  padding-left: 30px;
}

.upperbar9{
    width: 86%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upperbar1 h3 {
  fontfamily: "Mulish, sans-serif";
  font-weight: 600;
  font-size: 24px;
  line-height: 30.12px;
  text-align: center;
  color: #333333;
  margin: 0;
}


.upperbar2{
    width: 518px;
    height: 48px;
    border: 0.68px solid #292C35;
    border-radius:  25.06px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.upperbar2 input{
    border: none;
    outline: none;
    width: 350px;
    padding-left: 10px;
    height: auto;
    font-weight: 600;
    font-size: 18px;
    line-height: 15.06px;
    color: black;
    margin: 0;
}

.upperbar2 input::placeholder{
    fontfamily: "Mulish, sans-serif";
    font-style: italic;
    font-weight: 600;
    font-size: 12px;
    line-height: 15.06px;
    color: #17181D80;
    margin: 0;
    background-color: transparent;

}

.upperbar3{
    width: 78px;
    height: 48px;
    border-left: 1px solid #292C35;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #14959C;
}

.upperbar4{
    display: flex;
    align-items: center;
    gap: 20px;
}

.upperbar5{
    display: flex;
    align-items: center;
    gap: 20px;
}

.upperbar6 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.upperbar6 span{
    fontfamily: "Mulish, sans-serif";
    font-weight: 700;
    font-size: 20px;
    line-height: 25.1px;
    color: #14959C;
    margin: 0;
}

.upperbar7{
    width: 200px;
    height: 41px;
    border: 1px solid #E1E1E1;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.upperbar7 p{
    fontfamily: "Raleway, sans-serif";
    font-weight: 500;
    font-size: 15px;
    line-height: 17.61px;
    color: #17181D;
    margin: 0;
}


.upperbar10{
    font-size: 30px;
    color: #282929;
    cursor: pointer;
}



@media screen and (max-width: 768px) {
    .upperbar9{

    }
}

@media screen and (max-width: 576px) {
    .upperbar1{
        height: auto;
        padding-left: 5px;
        padding-top: 10px;
    }
    .upperbar9{
        width: 95%;
        height: auto;
        flex-direction: column;
        align-items: self-start;
        padding-bottom: 10px;
        gap: 10px;
    }
    .upperbar2{
        width: auto;
        height: auto;
    }

    .upperbar2 input{
        width: 100%;
    }
    .upperbar3{
        width: auto;
        /* height: auto; */
        padding: 5px;
    }

    .upperbar4{
        /* flex-direction: column; */
        gap: 10px;
    }
    .upperbar6 span{
        font-size: 15px;
    }
    .upperbar7{
        width: auto;
        height: auto;
    }
    .upperbar7 p{
        font-size: 10px;
    }
}