.booking {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.booking1 {
  display: flex;
  justify-content: space-between;
  width: 956px;
  height: 50px;
  background-color: #f4f4f4;
  cursor: pointer;
  border-radius: 34px;
}
.booking2 {
  /* display: flex;
  flex-direction: column;
  gap: 10px; */
}

.booking3 {
  height: 50px;
  width: 466px;
  background-color: #14959c;
  display: block;
  border-radius: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.booking3 p {
  fontfamily: "Poppins, sans-serif";
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin: 0;
}

.booking4 {
  height: 50px;
  width: 466px;
  background-color: #f4f4f4;
  display: block;
  border-radius: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.booking4 p {
  fontfamily: "Poppins, sans-serif";
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #17181d;
  margin: 0;
}

.booking5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}



.booking6 {
  width: 60%;
  height: 180px;
  border: 2px solid #d9d9d9;
  border-radius: 19px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.booking7{
  padding-left: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.booking7 h6{
  fontfamily: "Poppins, sans-serif";
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #17181D;
  margin: 0;
}


.booking7 p{
  fontfamily: "Poppins, sans-serif";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #17181D80;
  margin: 0;
}

.booking8{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-right: 20px;
  padding-top: 20px;
}

.booking8 span{
  fontfamily: "Poppins, sans-serif";
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
  color: #FCA001;
  margin: 0;
}