.landingpage {
  margin-top: 120px;
  margin-bottom: 0px;
}

.landingpagecontainer {
  display: flex;
  justify-content: space-between;
}

.landingpage1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding-left: 20px;
}

.landingpage1 h6 {
  fontfamily: "Mulish, sans-serif";
  font-weight: 700;
  font-size: 20px;
  line-height: 25.1px;
  color: #17181d;
  margin: 0;
}

.landingpage1 span {
  fontfamily: "Mulish, sans-serif";
  font-weight: 800;
  font-size: 13px;
  line-height: 16.32px;
  color: #14959c;
  margin: 0;
  cursor: pointer;
}

.landingpage2{
    /* border-right: 1px solid; */
}

.landingpage3 {
  margin-top: 30px;
}

.landingpage3 h6 {
  fontfamily: "Mulish, sans-serif";
  font-weight: 700;
  font-size: 20px;
  line-height: 25.1px;
  color: #17181d;
  margin: 0;
  padding-left: 8px;
}

.landingpage4 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.landingpage5 h5 {
  fontfamily: "Mulish, sans-serif";
  font-weight: 900;
  font-size: 14px;
  line-height: 17.57px;
  color: #17181d;
  margin: 0;
  margin-top: 10px;
}

.landingpage6 {
  margin-top: 10px;
}

.landingpage6 span:nth-child(1) {
  fontfamily: "Poppins, sans-serif";
  font-weight: 500;
  font-size: 16.08px;
  line-height: 24.12px;
  color: #17181d;
  margin: 0;
}

.landingpage6 span:nth-child(2) {
  fontfamily: "Mulish, sans-serif";
  font-weight: 700;
  font-size: 16.08px;
  line-height: 20.18px;
  color: #17181d33;
  margin: 0;
  padding-left: 10px;
}

.landingpage7 {
  margin-top: 30px;
}

.landingpage7 h6 {
  fontfamily: "Mulish, sans-serif";
  font-weight: 700;
  font-size: 20px;
  line-height: 25.1px;
  color: #17181d;
  margin: 0;
}

.landingpage8 {
  border-radius: 10px;
  position: relative;
  margin-top: 25px;
}

.landingpage9 {
}
.landingpage9 img {
  border-radius: 10px 10px 0px 0px;
}
.landingpage9 h5 {
  fontfamily: "Inter, sans-serif";
  font-weight: 600;
  font-size: 16px;
  line-height: 18.15px;
  color: #17181d;
  margin: 0;
  position: absolute;
  top: 10px;
  left: 10px;
}

.landingpage9 p {
  fontfamily: "Mulish, sans-serif";
  font-weight: 500;
  font-size: 15px;
  line-height: 17.57px;
  color: #17181d;
  margin: 0;
  position: absolute;
  bottom: 50px;
  right: 10px;
}

.landingpage10 {
  width: 271px;
  height: 33px;
  background-color: #14959c;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landingpage10 h5 {
  fontfamily: "Inter, sans-serif";
  font-weight: 700;
  font-size: 16px;
  line-height: 19.36px;
  color: #ffffff;
  margin: 0;
}

.landingpage11 {
  display: flex;
  justify-content: space-between;
}

.landingpage12{
    /* border-left: 1px solid; */
}

.landingpage14 {
    margin-top: 30px;
}

.landingpage14 h6{
    fontfamily: "Mulish, sans-serif";
    font-weight: 700;
    font-size: 20px;
    line-height: 25.1px;
    color: #17181d;
    margin: 0;
}

.landingpage15{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    margin-top: 25px;
}

.landingpage17 {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #ffffff;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landingpage17::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  box-shadow: inset 0px 5px 10px 1px rgba(0, 0, 0, 0.3); /* Apply the inner shadow */
  border-radius: 50%;
}

.landingpage16 {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landingpage16 h6 {
  fontfamily: "Mulish, sans-serif";
  font-weight: 800;
  font-size: 12px;
  line-height: 15.06px;
  color: #282929;
  text-align: center;
  padding-top: 10px;
  width: 80%;
  margin: auto;
}


.landingpage19{
    width: 550px;
    /* margin-top: 20px; */
}

