.home {
}

.home1 {
  width: 100%;
  height: auto;
  background-color: #14959c;
}

.home2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  cursor: pointer;
  padding-top: 30px;
}

.home3 {
  display: flex;
  align-items: center;
  gap: 30px;
}

.home3 h6,
span {
  fontfamily: "Mulish, sans-serif";
  font-weight: 600;
  font-size: 24px;
  line-height: 30.12px;
  text-align: center;
  color: #ffffff;
}

.home3 span {
  color: #ffc70e;
}

.home4 {
  display: flex;
  gap: 30px;
  align-items: center;
}

.home5 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.home6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  padding-bottom: 150px;
}

.home6 h2 {
  fontfamily: "Inter, sans-serif";
  font-weight: 700;
  font-size: 54px;
  line-height: 65.35px;
  color: #ffffff;
}

.home7 {
  width: auto;
  height: 101px;
  border-radius: 50px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 30px;
}

.home8 {
  display: flex;
  align-items: center;
  padding-left: 20px;
  gap: 30px;
}

.home8 span {
  fontfamily: "Inter, sans-serif";
  font-weight: 400;
  font-size: 28px;
  line-height: 33.89px;
  color: #000000;
}

.home9 {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-right: 30px;
  padding-left: 40px;
}

.home9 input {
  border: none;
  outline: none;
  width: 500px;
  height: 101px;
  font-weight: 400;
  font-size: 28px;
  line-height: 33.89px;
  color: #000000;
}

.home9 input::placeholder {
  fontfamily: "Inter, sans-serif";
  font-weight: 400;
  font-size: 28px;
  line-height: 33.89px;
  color: #949090;
}

.vertical-line {
  border-left: 3px solid #14939a;
  height: 90px;
}

.home10 {
  width: 90%;
  margin: auto;
  margin-top: 100px;
}

.home11 h2 {
  fontfamily: "Inter, sans-serif";
  font-weight: 700;
  font-size: 28px;
  line-height: 33.89px;
  color: #000000;
  text-align: center;
  margin: 0;
}

.home12 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
}

.home13 {
  width: calc(20% - 10px);
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.home13 img {
  max-width: 100%;
  height: auto;
}

.home13 h5 {
  fontfamily: "Inter, sans-serif";
  font-weight: 700;
  font-size: 22px;
  line-height: 26.63px;
  text-align: center;
  color: #000000;
  padding-top: 10px;
}

.home14 {
  margin-top: 100px;
}

.home14 h2 {
  fontfamily: "Inter, sans-serif";
  font-weight: 700;
  font-size: 28px;
  line-height: 33.89px;
  color: #000000;
  text-align: center;
}

.home15 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home16 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 80px;
}

.home16 span:nth-child(1) {
  fontfamily: "Inter, sans-serif";
  font-weight: 800;
  font-size: 50px;
  color: #14939a;
  margin: 0;
}

.home16 span:nth-child(2) {
  fontfamily: "Inter, sans-serif";
  font-weight: 500;
  font-size: 24px;
  color: #121212;
  margin: 0;
}

.home17 {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home18 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.home18 h2 {
  fontfamily: "Inter, sans-serif";
  font-weight: 700;
  font-size: 28px;
  line-height: 33.89px;
  color: #000000;
  text-align: center;
}

.home19 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
}
.home199 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  margin-top: 80px;
}
.home20 {
  width: 69px;
  height: 69.01px;
  border-radius: 50%;
  background-color: #ffffff;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home20::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  box-shadow: inset 0px 5px 10px 1px rgba(0, 0, 0, 0.3); /* Apply the inner shadow */
  border-radius: 50%;
}

.home21 {
  width: calc(20% - 80px);
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home21 h6 {
  fontfamily: "Mulish, sans-serif";
  font-weight: 800;
  font-size: 12px;
  line-height: 15.06px;
  color: #282929;
  text-align: center;
  padding-top: 10px;
  width: 80%;
  margin: auto;
}

.home22 {
  margin-top: 300px;
}

@media (max-width: 580px) {
  .home17 img {
    width: 100%;
  }

  .home13 {
    width: calc(100% - 10px);
  }

  .home15 {
    flex-direction: column;
  }
  .home21 {
    width: calc(100% - 20px);
  }

  .home5 img {
    width: 100%;
  }

  .home6 h2 {
    font-size: 25px;
  }
  .home7 {
    width: 100%;
  }
  .home9 input {
    width: 100%;
    height: 101px;
  }
  .home8 span {
    font-size: 20px;
  }
  .home8 {
    gap: 0px;
  }
}

/* Responsive styles */
@media (max-width: 1200px) {
  .home13 {
    width: calc(25% - 10px);
  }
  .home21 {
    width: calc(25% - 60px);
  }
}

@media (max-width: 992px) {
  .home5 img {
    width: 100%;
  }
  .home6 h2 {
    font-size: 30px;
  }
  .home7 {
    width: 100%;
  }
  .home9 input {
    width: 100%;
    height: 101px;
  }
  .home8 span {
    font-size: 20px;
  }
  .home8 {
    gap: 0px;
  }
  .home17 img {
    width: 100%;
  }
  .home12 {
    justify-content: center;
  }

  .home13 {
    width: calc(33.33% - 10px);
  }
  .home21 {
    width: calc(33.33% - 40px);
  }
  .home199 {
    gap: 0px;
  }
}

@media (max-width: 768px) {
  .home12 {
    margin-top: 50px;
  }

  .home13 {
    width: calc(50% - 10px);
  }
  .home21 {
    width: calc(50% - 30px);
  }
}
